
h2 {
  padding-top: 20px;
  font-size: 70px;
}

p, ul, ol {
  font-size: 40px;
}

.forceBreak { 
  -webkit-column-break-after: always; 
  break-after: column; 
}

slides > slide {
  width: 1400px;
  height: 900px;
  left: 35%;
  top: 40%;
  background: white;
}

iframe {
  width: 1200px;
  height: 700px;
  padding-top: 35px;
  padding-left: 50px;
}

.column-left {
  float: left;
  width: 50%;
  text-align: center;
}

.column-right {
  float: right;
  width: 50%;
  text-align: center;
}

.column-left-math {
  float: left;
  width: 40%;
  text-align: left;
  padding-left: 125px;
  padding-top: 130px;
}

.column-left-math ol li {
  margin-bottom: 0.8em;
}

.column-right-math {
  float: right;
  width: 60%;
  text-align: center;
  padding-top: 80px;
}

.question {
  margin-top: 25%;
  margin-left: 33%;
}

.question p {
  font-size: 80px;
}
